@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;800&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  font-family: Poppins, sans-serif;
}

.article-content ul {
  list-style: disc;
  padding-left: 1.5rem; /* lub 24px */
  margin-bottom: 30px;
}
.article-content li {
  margin-bottom: 0.5rem;
}


h1
{/* base na mobile */
  font-weight: 200;
  color:black;
}

h2 {
  width: 100%; /* w-full */
  font-size: 2.5rem; /* base na mobile */
  font-weight: 300; /* font-light */
  color: oklch(39.8% 0.07 227.392); /* text-cyan-900 */
}

/* Medium screens */
