@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400;800&display=swap');
@import "tailwindcss";


:root {
  --background: #ffffff;
  --foreground: #171717;
}


body {
  font-family: Poppins, sans-serif;
}

.article-content ul {
  list-style: disc;
  padding-left: 1.5rem; /* lub 24px */
  margin-bottom: 30px;
}
.article-content li {
  margin-bottom: 0.5rem;
}

h2 {
  width: 100%;
  font-weight: 300;
  text-decoration: underline;
  font-size: 3rem; /* mobile first */
}

/* Tablet */
@media (min-width: 768px) {
  h2 {
    font-size: 4rem;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  h2 {
    font-size: 5rem;
  }
}

/* Large desktop */
@media (min-width: 1280px) {
  h2 {
    font-size: 6rem;
  }
}

/* Medium screens */
